# General
Results
*.txt
clear.sh
*.xlsx
*.csv
__pycache__
.vscode

# C object and binary files
*.o
open
read
write
create
delete
allocation
latency
client
server

# Java
*.class

# Specific tools for testing/debugging
tools/list_interfaces
tests/
